@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.App {
  font-family: "Nunito", sans-serif;
  text-align: center;
}

h1 {
  font-family: "Nunito", sans-serif;
}

.loops-sounds-buttons {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  width: 70px;
  height: 30px;
  background-color: #fff;
  border: none;
  outline: none;
  flex-shrink: 0;
  border-radius: 6px;
  margin-top: -0.25em;
}

.loops-sounds-buttons:hover {
  background-color: #77788f;
  color: #fff;
}

.loops-sounds-buttons.clicked {
  background-color: #414251;
  color: #fff;
}

#track-type-button {
  display: flex;
  width: 155px;
  height: 26px;
  padding-right: 12px;
  align-items: flex-start;
  gap: 19px;
  flex-shrink: 0;
  margin: 15px 15px;
}

.track-count {
  font-family: "Nunito", sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 2em;
  color: #999;
  flex: 1;
}

.filter-button {
  font-size: 17px; 
  width: 40px;
  height: 40px;
  position: absolute; 
  top: 99px;  
  background: rgba(65, 66, 81, 0);
  flex-shrink: 0;
  border-radius: 50%;
}

.filter-button:hover {
  background-color: #77788f;
  color: #fff;
}

.filter-button.clicked {
  background-color: #414251;
  color: #fff;
}

.sort-button {
  font-family: "Nunito", sans-serif;
  font-size: 13px;
  margin-top: 5px; 
  font-weight: normal;
  line-height: 2em;
  color: #999;
  background-color: transparent; 
  border: none; 
  text-align: right; 
}

.sort-button-container {
  position: absolute; 
  right: 10px; 
  font-size: 13px;
  margin-top: 5px; 
  font-weight: normal;
  line-height: 2em;
  color: #999;
  background-color: transparent; 
  border: none; 
  text-align: right 
}

.sort-button:hover  {
  text-decoration: underline;
}

.sort-option {
  font-family: "Nunito", sans-serif;
  color: #3C4E60;
  font-size: 14px; 
  width: 120px;
  height: 25px;
  background-color: #fff;
  padding: 2px; 
  display: flex; 
  align-items: center; 
  line-height: 140%;
  align-items: center;
  outline: none;
  border: none;
  white-space: nowrap;
  position: relative;
  text-align: right;
}

.sort-option:hover {
  background: rgba(0, 0, 0, 0.15);
}

.sort-dropdown {
  position: absolute; 
  top: 170px; 
  width: fit-content; 
  height: fit-content; 
  background-color: #fff;
  border: 1px solid black; 
  border-radius: 8px; 
  z-index: 5000; 
  flex-direction: column; 
  padding: 5px 3px;
  display: flex;
  box-shadow: 0px 3px 5px #0005;
}

.tracks-sort-container {
  display: flex;
  width: 155px;
  height: 26px;
  padding-right: 12px;
  align-items: flex-start;
  flex-shrink: 0;
  margin-bottom: 15px;
  margin-left: 10px; 
  gap: 10px; 
}

/*placeholder for instrument*/
#circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 1em 0 0;
  color: red;
}

.dialog button {
  height: 40px;
  background-color: var(--active-color);
  color: #fff;
  top: -55px;
  right: 0;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 24px;
  padding: 0px 16px;
  background-image: none !important;
  transition: all 0.175s ease-in-out;
  font-family: var(--main-font);
  user-select: none;
  margin-left: 15px;
}

.dialog button:hover {
  cursor: pointer;
  background-color: rgba(47, 154, 239, 0.8);
  box-shadow: 0px 15px 5px -10px rgb(50 50 93 / 25%),
    0 30px 65px -30px rgb(0 0 0 / 0%);
}